body,html{
    margin: auto;
    border: solid 10px blue;
    background-color: rgb(174, 235, 250);    
     
}
#destaque{
    background-image: url(./img/bauru.jpg);
    text-align: center;
    text-size-adjust: 10%;
    color: black;
    height: 300px;
    padding-top: 3%;
}
.itens{
    width: 20%;
    border: 10px solid rgb(0, 195, 255);
    float: left;
    text-align: center;
    padding: 3%;
    margin-top: 2%;
    margin-left: 4%;
}
#produtos{
    text-align: justify;
    clear: both;   
}
footer{
    clear: both;
    text-align: center;
    margin-bottom: 1%;
}
#sobre{
    padding-top: 2%;
}
